@import '../../assets/variables.scss';
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  border-top: 30px solid  $primary-blue;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-default .container-fluid {
  position: relative;
}
.navbar-default button {
  background-color: white;
    font-family: $font-Montserrat;
    padding: 14px 40px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 10px 8px 10px;
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2px solid $primary-blue;
    color: $primary-blue;
    font-weight: bold;
}

.navbar-default button:hover {
  color: white;
  background-color:$primary-blue;
}
.blue{
  background-color: $primary-blue;
  height: 20px;
}
.navbar-header {

    margin-left: 25px;
    margin-top: 10px;
}

/* Blue */
.info {
  border: 2px solid $primary-blue;
  color: $primary-blue
}

.navbar-brand {
  padding: 0px;
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 15px;
}

// line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.navbar-brand {
  height: 80px;
}

.logo-text {
  font-family: $font-Montserrat;
  font-size: 24px;
}
.logo-brand{
  margin-right: 15px;
}
