@import '../../assets/variables.scss';

.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

hr{
  margin-top:0px;
}
h4,h5{
  font-family: $font-Montserrat;
}
label {
  font-family: $font-Montserrat;
  color:$label-black;
}

.submit-btn {
  border: 2px solid $primary-blue;
  color: $primary-blue;
  cursor: pointer;
  background-color: white;
  font-family: $font-Montserrat;
  font-weight: 700;
  padding: 10px 25px;
}
.submit-btn:hover:enabled {
  color: white;
  background-color:$primary-blue;
}
.submit-btn:disabled {
  color:$light-grey;
}
